.ant-btn.button-green {
  color: #fff;
  background-color: #52c41a;
}

.ant-btn.button-orange {
  color: #fff;
  background-color: #fa8c16;
}

.ant-btn.button-green:hover,
.ant-btn.button-green:focus {
  background-color: #52c41a;
  border-color: #52c41a;
  color: #fff;
}

.ant-btn.button-orange:hover,
.ant-btn.button-orange:focus {
  background-color: #fa8c16;
  border-color: #d87205;
  color: #fff;
}

.ant-btn.button-green:active {
  border-color: #3f9714;
  color: #fff;
}

.ant-btn.button-orange:active {
  border-color: #fa8c16;
  color: #fff;
}

.ant-btn.people-trigger {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.ant-btn.people-trigger:active,
.ant-btn.people-trigger:focus,
.ant-btn.people-trigger:hover {
  background: transparent;
  border-color: transparent;
}

.ant-btn.status-button {
  width: 100%;
}

.ant-dropdown-menu-item {
  text-align: center;
}

.ant-form-item.description {
  margin-bottom: 0;
}

.checklist-table th.ant-table-cell {
  text-align: center;
}
