.ant-layout {
  min-width: 300px;
}

.checklist-table {
  margin-bottom: 2rem;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.app-skeleton {
  padding: 5rem;
}

.main-content {
  margin: 24px 16px;
  min-height: 280px;
  overflow-y: auto;
  padding: 24px;
}

.site-layout .site-layout-background {
  background: #fff;
}


