.ant-layout {
  min-width: 300px;
}

.checklist-table {
  margin-bottom: 2rem;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.app-skeleton {
  padding: 5rem;
}

.main-content {
  overflow-y: auto;
}
